html {
    font-size: 62.5%;
    @include bp-sm {
    	font-size:45%;
    }
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-size: 1.6rem;
}

.wrapper {
	overflow:hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}