<section class="work__list">
    <div class="work--item the-food-connection">
        <img src="images/thefoodlogo.jpg" alt="The Food Connection" />
        <div class="btn-container">
            <a href="http://www.thefoodconnection.co.uk/" target="_blank" class="view">View Site</a>
        </div>
    </div>
    <div class="work--item three-dimensional-fitness">
        <img src="images/fitnesslogo.jpg" alt="Three Dimensional Fitness" />
        <div class="btn-container">
            <a href="http://www.threedimensionalfitness.co.uk/.co.uk/" target="_blank" class="view">View Site</a>
        </div>
    </div>
    <div class="work--item the-chef">
        <img src="images/thecheflogo.jpg" alt="The Chef Restaurant" />
        <div class="btn-container">
            <a href="http://www.thechefrestaurant.co.uk/" class="view">View Site</a>
        </div>
    </div>
    <div class="work--item time-zone">
        <img src="images/timezone.jpg" alt="Time Zone App" />
        <div class="btn-container">
            <a href="projects/time-zone-app/index.html" target="_blank" class="view">View</a>
        </div>
    </div>
    <div class="work--item menu-concept">
        <img src="images/menuconcept.jpg" alt="Menu Concept" />
        <div class="btn-container">
            <a href="http://codepen.io/chungman93/full/qZYPeo" target="_blank" class="view">View</a>
        </div>
    </div>
    <div class="work--item morphing-devices">
        <img src="images/morphingdevices.jpg" alt="Morphing Devices" />
        <div class="btn-container">
            <a href="projects/morphing-devices/index.html" target="_blank" class="view">View</a>
        </div>
    </div>
    <div class="work--item parallax">
        <img src="images/parallax.jpg" alt="This is Parallax" />
        <div class="btn-container">
            <a href="projects/parallax-demo/index.html" target="_blank" class="view">View</a>
        </div>
    </div>
    <div class="work--item iphone-mockup">
        <img src="images/iphonemockup.jpg" alt="Iphone Mockup" />
        <div class="btn-container">
            <a href="http://codepen.io/chungman93/full/YqLERK/" target="_blank" class="view">View</a>
        </div>
    </div>
</section>
